/* Estilos gerais */
body {
  font-family: 'Fira Code', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #D99D8F; */
  background-image: url(img/fundo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #000000;
  line-height: 1.6;
  overflow-x: hidden;
}

strong {
  color: #1D2540;
  background-color: rgba(242, 240, 213, 0.5);
  padding: 0 5px;
}

/* Container geral da página */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Cabeçalho */
header {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  color: #212B40;
  padding: 20px 0;
  text-align: center;
  box-sizing: border-box;
  background-image: url(img/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  flex-direction: row;
}


.info h1 {
  font-size: 80px;
  margin-bottom: 10px;
  text-shadow: 25px 30px 8px #1A2040;
}

.info p {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 0;
}

.profile-image {
  margin-left: 20px;
  margin-right: 50px;
}

.profile-image img {
  width: 350px;
  height: auto;
  border-radius: 50%;
  display: block;
  object-fit: cover;
  margin: 0;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profile-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.9);
}

header h1 {
  margin-bottom: 5px;
}

header p {
  font-size: 0.9em;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.icon {
  width: 45px;
  height: 45px;
  margin: 5px 25px;
  vertical-align: middle;
  border-radius: 25px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.9);
}

.info .contact-list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.info h1.contact {
  font-size: 80px;
  margin-bottom: 10px;
  text-shadow: 25px 30px 8px #1A2040;
  background-image: linear-gradient(-45deg, #1A2040, #313A60);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s ease;
  background-size: 200% auto;
}

.info ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.info .contact {
  display: flex;
  align-items: center;
  padding: 5px 0;
  text-align: left;
  justify-content: flex-start;
}

.download-button {
  background-image: linear-gradient(to right, #1A2040, #242C50, #313A60);
  border-radius: 25px;
  padding: 10px 20px;
  color: rgba(242, 240, 213, 1);
  box-shadow: 0 8px 16px rgba(250, 250, 250, 0.8);
  transition: background-position 0.5s ease;
  background-size: 200% auto;
}

.download-button:hover {
  background-position: right center;
  color: #fff;
}

/* Menu */
.menu {
  background-color: rgba(2, 11, 38, 0.7);
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos do menu hambúrguer */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  margin: 10px;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -5px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: wheat;
  border-radius: 3px;
  transition: all 0.5s;
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 100%;
}

.menu-toggle span:last-child {
  transform-origin: 0 0;
}

.menu-toggle input:checked~span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:last-child {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-list li {
  margin: 5px 10px;
  position: relative;
}

.menu-list a {
  color: wheat;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
}

.menu-list a:hover {
  text-decoration: underline;
}

.dropdown .dropbtn {
  color: wheat;
  text-decoration: none;
  padding: 10px;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 200px;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: #fff;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #555;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos para o menu responsivo */
@media (max-width: 768px) {
  .menu .container {
      justify-content: space-between;
  }

  .menu-toggle {
      display: flex;
      margin-left: auto;
  }

  .menu-list {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgba(2, 11, 38, 0.9);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: all 0.8s ease-in-out;
  }

  .menu-list.slide {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .menu-list li {
      margin: 10px 0;
  }

  .menu-list a {
      padding: 10px 20px;
      display: block;
      text-align: center;
  }

  .dropdown-content {
      position: static;
      background-color: transparent;
      min-width: 100%;
      box-shadow: none;
      padding: 0;
  }

  .dropdown-content a {
      padding: 10px 20px;
      text-align: center;
  }

  .dropdown:hover .dropdown-content {
      display: none;
  }
}

/* Seções principais da página */
main {
  background-color: rgba(242, 240, 213, 0.7);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

main h2 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(49, 62, 89, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: wheat;
}

/* Estilo para as seções de Experiência */
.experience .job {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  display: inline-block;
  /* border-bottom: 10px solid white;*/
}

.experience .job .job-content .job-desc {
  background-color: rgba(217, 157, 143, 0.9);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.about .job-desc {
  background-color: rgba(217, 157, 143, 0.9);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.experience .job>.job-content {
  flex: 1;
  min-width: 50%;
  padding-right: 20px;
  box-sizing: border-box;
}

.experience .bolder-skill {
  font-weight: bolder;
}

.experience .job h3 {
  margin-bottom: 0px;
  background-color: #1A2040;
  padding: 0 30px;
  color: wheat;
}

.experience .job .job-content h4 {
  text-align: center;
  color: #1A2040;
  font-weight: bolder;
  font-size: 30px;
  margin: 0;
  text-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
}

.radar-container h4 {
  background-color: #1A2040;
  color: wheat;
  text-align: center;
}

.experience .job .date {
  font-style: italic;
  font-weight: bolder;
  color: #2b2828;
  margin-bottom: 0px;
}

.experience .job>div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.experience .job>div h3,
.experience .job>div p.date {
  flex: 1 1 50%;
  text-align: center;
}

/* Seção de Habilidades (Gráfico) */
.skills {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  box-sizing: border-box;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skills-chart-container {
  width: calc(50% - 30px);
  text-align: center;
}

.skills-chart-container h3 {
  background-color: #1A2040;
  color: wheat;
}

.skills div h3 {
  background-color: #1A2040;
  color: wheat;
}

.skills div blockquote {
  background-color: rgba(217, 157, 143, 0.9);
  border-radius: 15px;
  padding: 10px;
}

.skills div p {
  background-color: rgba(217, 157, 143, 0.9);
  border-radius: 15px;
  padding: 10px;
}

.skills-chart-container canvas {
  max-width: 100%;
  max-height: 500px;
  margin: 20px auto;
  width: 100% !important;
  height: auto !important;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  background-color: rgba(245, 222, 179, 0.7);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skills-chart-container canvas:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
}

.radar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.radar-chart-container {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 10px 10px;
}

.radar-chart-container canvas {
  max-width: 100%;
  max-height: 500px;
  margin: 0 10px;
  width: 100% !important;
  height: auto;
  justify-content: center;
  border-bottom: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  background-color: rgba(245, 222, 179, 0.7);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.radar-chart-container canvas:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
}

.tools h3 {
  background-color: #1A2040;
  color: wheat;
  text-align: center;
}

.tools .tools-list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  /* margin: auto 100px; */
}

.tools ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.tools .tools-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  text-align: left;
  justify-content: flex-start;
}

.tools-item img {
  max-width: 80px;
  max-height: 60px;
  object-fit: contain;
  width: 100%;
  margin: 5px 25px;
  vertical-align: middle;
  background-color: rgba(245, 222, 179, 0.5);
  border-radius: 5px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.tools-item img:hover {
  transform: scale(1.2);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.9);
}

/* Seções de Formação e Certificações */
.education-item,
.certification-item {
  margin-bottom: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 14px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.education-item h3,
.certification-item h3 {
  margin-bottom: 5px;
}

.education-item h3 strong {
  color: #070707;
}

/* Portfólio */
.portfolio {
  margin-top: 20px;
  text-align: center;
}

.portfolio .tableau-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.portfolio .tableauPlaceholder {
  width: calc(25% - 20px); /* Alterado para 25% */
  margin: 10px;
  box-sizing: border-box;
}

.portfolio .tableauPlaceholder a img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.portfolio .tableauPlaceholder a img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
}

/* Rodapé */
footer {
  text-align: center;
  width: 100%;
  padding: 1px 0;
  background-color: #333;
  color: #fff;
  position: relative;
  clear: both;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7)
}

/* Botão Voltar ao Topo */
.back-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  background-color: rgba(250, 250, 250, 0.8);
  content: url(img/to_top.png);
  color: black;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s easy-in-out;
  /* box-shadow: 0 8px 16px rgba(250, 250, 250, 0.8); */
}

.back-to-top-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: rgba(250, 250, 250, 1);
}

.back-to-top-button:active {
  transform: translateY(0);
  box-shadow: none;
}

/* Container para Formação e Certificações */
.side-by-side-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilo para as seções de Formação e Certificações */
.side-by-side-sections section {
  width: calc(50% - 40px);
  box-sizing: border-box;
}

/* Responsividade */
@media (max-width: 1200px) {
  .portfolio .tableauPlaceholder {
    width: calc(33.33% - 20px); /* 3 imagens por linha em telas maiores */
  }
}

@media (max-width: 992px) {
  .portfolio .tableauPlaceholder {
    width: calc(50% - 20px); /* 2 imagens por linha em telas médias */
  }
}

@media (max-width: 768px) {
  .container {
      width: 95%;
  }

  .side-by-side-sections section {
      width: 100%;
  }

  .experience .job {
      flex-direction: column;
  }

  .experience .job>.job-content {
      min-width: 100%;
      padding-right: 0;
      margin-bottom: 10px;
  }

  .radar-chart-container {
      max-width: 100%;
      margin: 10px auto;
  }

  .skills-chart-container {
      width: calc(100% - 20px);
  }

  .skills canvas {
      max-width: 100%;
      max-height: 300px;
  }

  .portfolio .tableauPlaceholder {
      width: calc(50% - 20px); /* 2 imagens por linha em telas menores */
  }

  .portfolio .tableauPlaceholder a img {
      max-height: 300px;
  }

  .header-content {
      flex-direction: column;
      align-items: center;
  }

  .profile-image {
      margin-left: 0;
      margin-bottom: 20px;
  }

  .info h1 {
      font-size: 30px;
      text-align: center;
  }

  .profile-image img {
      width: 150px;
  }

  .experience .job>div {
      flex-direction: column;
      text-align: center;
  }

  .info ul {
      text-align: center;
  }

  .info .contact {
      justify-content: center;
      text-align: center;
      flex-direction: column;
  }

  .tools ul {
      text-align: center;
  }

  .tools .tools-item {
      justify-content: center;
      text-align: center;
      flex-direction: column;
  }
}

@media (max-width: 480px) {
  .menu-list li {
      margin: 5px 5px;
  }

  .portfolio .tableauPlaceholder {
      width: 100%; /* 1 imagem por linha em telas ainda menores */
  }
}

/* Animação de pulso  */
@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 0.8;
  }

  50% {
      transform: scale(1.1);
      opacity: 1;
  }

  100% {
      transform: scale(1);
      opacity: 0.8;
  }
}

.back-to-top-button.pulse {
  animation: pulse 2s infinite;
}